# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/taotao-common/target/
/taotao-common/taotao-common.iml
/taotao-manager/taotao-manager-mapper/target/
/taotao-manager/taotao-manager-mapper/taotao-manager-mapper.iml
/taotao-manager/taotao-manager-pojo/target/
/taotao-manager/taotao-manager-pojo/taotao-manager-pojo.iml
/taotao-manager/taotao-manager-service/target/
/taotao-manager/taotao-manager-service/taotao-manager-service.iml
/taotao-manager/taotao-manager-web/target/
/taotao-manager/taotao-manager-web/taotao-manager-web.iml
/taotao-manager/taotao-manager.iml
/taotao-web/target/
/taotao-web/taotao-web.iml
/web/.gradle/
/taotao-parent.iml
